<!DOCTYPE html>
<html lang="en">

<head>
  <title>SimTalk</title>
</head>

<body>
  <h1>SimTalk</h1>
  <h2>Master Communication with a Voice-Based AI</h2>
  <p>For Chrome and Firefox users. Safari not supported at the moment.</p>
  <p><b>Scenario:</b> You're an entrepreneur pitching your startup to an investor.</p>
  <h3>Talk</h3>
  <button id="record" onclick="record()">Record</button>
  <button id="stop">Stop recording</button>
  <h3>Listen</h3>
  <p id="loader"></p>
  <audio id="aiResponse" controls>
    <source src="" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
  <h3>Get Feedback</h3>
  <button id="feedback" onclick="feedback()">Request Feedback</button>
  <a id="feedbackLink"></a>
  <h3>Conversation Status</h3>
  <p id="convoStatus"></p>
  <h3>Reset Conversation</h3>
  <button id="reset" onclick="reset()">Reset</button>
  <script src="{{url_for('static', filename='index.js')}}"></script>
</body>

</html>