<!DOCTYPE html>
<html lang="en">

<head>
  <title>SimTalk</title>
</head>

<body>
  <h1>SimTalk</h1>
  <h2>Master Communication with a Voice-Based AI</h2>
  <p>For Chrome and Firefox users. Safari not supported at the moment.</p>
  <h3>Talk</h3>
  <button id="record" onclick="record()">Record</button>
  <button id="stop">Stop</button>
  <h3>Listen</h3>
  <audio id="aiResponse" controls>
    <source src="" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
  <h3>Get Feedback (not implemented yet)</h3>
  <p>Be careful! The current conversation will end if you get feedback.</p>
  <button id="feedback">Feedback</button>
  <script>
    async function record() {
      try {
        stream = await navigator.mediaDevices.getUserMedia({ audio: true })

        const chunks = []
        const recordButton = document.getElementById('record');
        const stopButton = document.getElementById('stop');
        const mediaRecorder = new MediaRecorder(stream, { mimeType: 'audio/webm;codecs=opus' })

        mediaRecorder.ondataavailable = (e) => {
          if (e.data.size > 0) chunks.push(e.data);
        }

        mediaRecorder.onstop = async (e) => {
          const blob = new Blob(chunks, { type: 'audio/webm;codecs=opus' });
          const formData = new FormData();
          formData.append('recording', blob, `recording.webm`);
          try {
            const response = await fetch('/transcribe', {
              method: 'POST',
              body: formData
            });
            if (response.ok) {
              const response_blob = await response.blob();
              const audioUrl = URL.createObjectURL(response_blob);
              const audio = document.getElementById("aiResponse");
              audio.src = audioUrl;
              audio.play()
            } else {
              // Handle the case when the response is not successful
            }
          } catch (error) {
            console.log("error");
          };
          recordButton.disabled = false
        }

        stopButton.addEventListener('click', function () {
          mediaRecorder.stop();
          stream.getAudioTracks().forEach((track) => track.stop());
        });

        mediaRecorder.start()
        recordButton.disabled = true
      } catch (err) {
        console.log(err)
      }
    }
  </script>
</body>

</html>