<!DOCTYPE html>
<html lang="en">

<head>
  <title>Claris</title>
</head>

<body>
  <h1>Claris</h1>
  <h2>Talk through things, and get clarity.</h2>
  <p>For Chrome and Firefox users. Safari not supported at the moment.</p>
  <p id="errorPlaceholder"></p>
  <h3>Talk</h3>
  <button id="recordButton" onclick="record()">Record</button>
  <button id="stopButton">Stop recording</button>
  <h3>Listen</h3>
  <p id="progressPlaceholder"></p>
  <audio id="clarisResponse" controls>
    <source src="" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
  <h3>Download Conversation</h3>
  <p id="downloadPlaceholder"></p>
  <a id="downloadAnchor"></a>
  <h3>Reset Conversation</h3>
  <button id="resetButton" onclick="reset()">Reset</button>
  <script src="{{url_for('static', filename='index.js')}}"></script>
</body>

</html>